# fly.toml app configuration file generated for ticket-masala on 2025-12-23T10:53:15+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ticket-masala'
primary_region = 'iad'

[build]
dockerfile = 'Dockerfile'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[http_service.checks]]
grace_period = "5s"
interval = "30s"
method = "GET"
timeout = "5s"
path = "/health"

[[vm]]
memory = '256mb'
cpu_kind = 'shared'
cpus = 1
