app = "ticket-masala-gatekeeper"
primary_region = "ams"

[build]
  dockerfile = "src/GatekeeperApi/Dockerfile"

[env]
  ASPNETCORE_ENVIRONMENT = "Production"
  Gatekeeper__ApiKey = "masala-secret-key"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
