app = "ticket-masala-portal-liberty"
primary_region = "ams"

[build]
  image = "ghcr.io/garamatic/ticket-masala-portal:latest"

[env]
MASALA_TENANT_ID = "liberty"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 0
processes = ["app"]

[[vm]]
memory = "256mb"
cpu_kind = "shared"
cpus = 1
