server {
    listen 8080;
    server_name localhost;
    absolute_redirect off;
    port_in_redirect off;
    
    error_log /dev/stderr debug;
    access_log /dev/stdout;

    root /usr/share/nginx/html/tenants/${MASALA_TENANT_ID};

    # Redirect root to the client index file
    location = / {
        return 301 /client/index.html;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}
